.jxbrowser-data
.metadata
RemoteSystemsTempFiles
I_baseball/.launches
I_baseball/Debug
tirtos_builds_MSP_EXP432P401R_release_ccs/src
tirtos_builds_MSP_EXP432P401R_release_ccs/Debug
simple_np_cc2640r2lp_stack_library\FlashROM_Library
simple_np_cc2640r2lp_stack_library\FlashROM_Library